<div class="container mb-4">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card-body">
        <%= simple_form_for @flat do |f| %>
          <%= f.input :title %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :country, as: :select, collection: country_select_options %>
          <%= f.input :zip_code %>
          <%= f.input :description %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :price_per_night %>
          <%= f.input :number_of_guests %>
          <div class="d-flex justify-content-between">
            <%= link_to "Back", flats_path, class: "btn btn-primary button" %>
            <%= f.submit "Submit", class: "btn btn-primary button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
