<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-left">
    <%#= link_to "#", class: "" do %>
      <%= image_tag('at_home_logo.png', class: "navbar-logo") %>
      <%# end %>
      <!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
      <%= link_to "Home", flats_path, class: "navbar-link" %>
      <%= link_to 'Contact', "#", class:"navbar-link"  %>
      <%= link_to 'Service', "#", class:"navbar-link" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto navbar-right">
        <% if user_signed_in? %>
          <li class="nav-item active mx-2">
            <%= link_to "Rent now !", new_flat_path, class: "brown-button" %>
          </li>
          <!--          <li class="nav-item active mx-2">-->
          <%#= link_to "Home", flats_path, class: "navbar-button w-button" %>
          <!--          </li>-->
          <li class="nav-item mx-1">
            <%= link_to "My Bookings", bookings_path, class: "brown-button" %>
          </li>
          <li class="nav-item dropdown mx-2">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("user-logo.png", alt: "User logo", class: "avatar user-logo") %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%#= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <button type="button" class="brown-button" data-bs-toggle="modal" data-bs-target="#log-modal">
            Log in
          </button>
          <button type="button" class="brown-button" data-bs-toggle="modal" data-bs-target="#reg-modal">
            Sign up
          </button>
        <% end %>
      </ul>
    </div>
  </div>
